
button {
  display: block;
}

.weekday {
  height: 110px;
  width: 130px;
  margin: 5px;
  float: left;
  background-color: #C2C2CE;
}

.assignmentNode {
  padding-top: 5px;
  height: 70px;
  width: 130px;
  margin: 0px;
  background-color: #C0D8D4;
}

main {
  height: 600px;
  width: 1040px;
  float: left;
  margin: 80px;
}

.togglemonth{
  float: right;
  margin-right: 112px;
}


.username{
  float: left;
  text-decoration: underline;
  color: blue;
  margin: 3px;
  cursor: pointer;
}

.usernamekey{
  float: left;
  margin: 3px;
}

.userlist {
  height: 25px;
}


.weekend {
  height: 110px;
  width: 130px;
  margin: 5px;
  float: left;
  background-color: #797980;
}